@font-face {
    font-family: "DroidKufi-Bold";
    src: url("fonts/DroidKufi-Bold.woff") format("woff"),
        url("fonts/DroidKufi-Bold.ttf") format("truetype"),
        url("fonts/DroidKufi-Bold.eot"),
        url("fonts/DroidKufi-Bold.eot?#iefix") format('embedded-opentype');
}

@font-face {
    font-family: "DroidKufi";
    src: url("fonts/DroidKufi-Regular.woff") format("woff"),
        url("fonts/DroidKufi-Regular.ttf") format("truetype"),
        url("fonts/DroidKufi-Regular.eot"),
        url("fonts/DroidKufi-Regular.eot?#iefix") format('embedded-opentype');
}