
@media print { #b_432b8a08_767 { display:none}}
	
			@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&subset=latin-ext');

			.chat-button{
				bottom: 0px;
				right: 0px;
			   -ms-transform-origin: 100% 100%;
				-webkit-transform-origin: 100% 100%;
				transform-origin: 100% 100%;
				z-index: 999997;
				position: fixed;
				width:195px;
				-webkit-animation-duration: 0.8s;
				animation-duration: 0.8s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
				-webkit-animation-name: Slide;
				animation-name: Slide;
				-webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
				animation-delay: 2s;
			}

			@keyframes Slide {
			  from {
				transform: translate3d(200%, 0, 0);
				visibility: visible;
			  }
			  to {
				transform: translate3d(0, 0, 0);
			  }
			}

			.chat-container:hover {
				-webkit-animation-duration: 1s;
				animation-duration: 1s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
				-webkit-animation-name: bounce;
				animation-name: bounce;
			}

			@keyframes bounce{
			0%, 20%, 50%, 80%, 100% { transform: translateY(0);}
			40% { transform: translateY(-30px);}
			60% { transform: translateY(-15px);}
			}

			.bubble{
				background: #fdc600;
				border-radius: 3px;
				margin-bottom: 5px;
				position: relative;
				width: 195px;
				display: block;
			}
			.bubble-text{
				font-family: 'Open Sans', sans-serif;
				text-align:center;
				padding: 10px 10px 10px 30px;
				font-weight: 800;
				color: #fff;
				font-size: 28px;
			}
			.sub-title{
				width:192px;
				background:#fdc600;
				color:#929292;
				font-size: 12px;
				padding: 2px;
				text-align:center;
				float:right;
			   font-family: 'Open Sans', sans-serif;
			}
			.support-member-photo {
				position: absolute;
				margin-left: -65px;
				margin-top: -18px;
				border: 4px solid #fdc600;
				border-radius: 200px;
			width:85px;
			height:85px;
			}
			.support-member-photo img {
				width: 100%;
				border-radius: 200px;
			}
			@media only screen and (max-device-width: 480px){
			.support-member-photo {
				display: none;
			}
			.bubble {
				background-image: url(https://cdn.rawgit.com/hostinger/banners/eb5b6ebb/other/speech-bubble-2-2.png);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 35px;
				background-color:#7e68bf;
				border-radius: 3px;
				margin-bottom: 5px;
				position: relative;
				width: 65px;
				display: block;
				height: 65px;
				border-radius: 15px;
				bottom: 0;
				border-radius: 200%;
				right: 0;
			}
			.bubble-text {
				font-family: 'Open Sans', sans-serif;
				text-align: center;
				padding: 20px 0 20px 40px;
				font-weight: 600;
				color: #fff;
				font-size: 28px;
				position: absolute;
				bottom: 0px;
				width: 160px;
				right: 0px;
			display:none;
			}
			.sub-title {
				display: none;
			}
			.chat-button {
				width: 75px;
			}
			}
