.form-inline .form-control, .form-inline .form-control {
    margin-left: 10px;
}

/* Animations              */

.search-btn ,.toggle-btn{
    background-color: #38b54a;
    color: #333;
    font-size: 16px;
    border: 1px solid #EAE9E9;
    width: 40px;
    height: 40px;
    color: #FFF;
    transition: all 0.3s ease 0s;
    padding: 0px;

}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #EEEEEE;
    color: #999999;
    cursor: not-allowed;
}
.has-success .form-control,
.has-error .form-control,
.has-success .form-control:focus,
.has-error .form-control:focus{
    border-color: #E3E3E3;
    box-shadow: none;
}
.has-success .form-control,
.has-success .form-control-feedback,
.form-control.valid:focus{
    border-color: #05AE0E;
    color: #05AE0E;
}
.has-error .form-control,
.has-error .form-control-feedback,
.form-control.error{
    color: #FF3B30;
    border-color: #FF3B30;
}
/*           Labels & Progress-bar              */
.bootstrap-select button.dropdown-toggle{
    background: rgba(252, 252, 252, 0.35) none repeat scroll 0% 0%;
    border-radius: 1px;
    color: #ADADAD;
    height: 40px;
    margin-right: 10px;
    width: 99%;
    display: block;
    font-size: 13px;
    line-height: 1.42857;
    color: #ADADAD;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #EAE9E9;
    box-shadow: 0px 1px 1px rgba(179, 179, 179, 0.1) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    font-weight: 300;
    padding: 5px !important;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}
.btn-group.open .dropdown-toggle {
    box-shadow: none;
}
.bootstrap-select .dropdown-menu {

    margin:0px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    box-shadow:0px 5px 15px rgba(0, 0, 0, 0.176);
    border-top: none;
}
.tab-content .bootstrap-select button.dropdown-toggle {
    width: 100%;
}
.tab-content .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}
.input-group-btn .btn{
    background-color: #FFC500;
    border-color: #FFC500;
    border-radius: 0px;
    height: 44px;
    color: #FFF;
}
/* Navigation bils */
.wizard-container .nav-pills > li + li {
    margin-left: 0;
}
.wizard-container  .nav-pills > li > a {
    border: 1px solid #2CA8FF;
    border-radius: 0;
    color: #2CA8FF;
    margin-left: -1px;
}
.nav-pills.ct-blue > li.active > a, .nav-pills.ct-blue > li.active > a:hover, .nav-pills.ct-blue > li.active > a:focus,
.pagination.ct-blue > .active > a, .pagination.ct-blue > .active > span, .pagination.ct-blue > .active > a:hover,
.pagination.ct-blue > .active > span:hover, .pagination.ct-blue > .active > a:focus, .pagination.ct-blue > .active > span:focus{
    background-color: #3472F7;
}
.nav-pills.ct-azure > li.active > a, .nav-pills.ct-azure > li.active > a:hover, .nav-pills.ct-azure > li.active > a:focus,
.pagination.ct-azure > .active > a, .pagination.ct-azure > .active > span, .pagination.ct-azure > .active > a:hover,
.pagination.ct-azure > .active > span:hover, .pagination.ct-azure > .active > a:focus, .pagination.ct-azure > .active > span:focus{
    background-color: #2CA8FF;
}
.nav-pills.ct-green > li.active > a, .nav-pills.ct-green > li.active > a:hover, .nav-pills.ct-green > li.active > a:focus,
.pagination.ct-green > .active > a, .pagination.ct-green > .active > span, .pagination.ct-green > .active > a:hover,
.pagination.ct-green > .active > span:hover, .pagination.ct-green > .active > a:focus, .pagination.ct-green > .active > span:focus{
    background-color: #05AE0E;
}
.nav-pills.ct-orange > li.active > a, .nav-pills.ct-orange > li.active > a:hover, .nav-pills.ct-orange > li.active > a:focus,
.pagination.ct-orange > .active > a, .pagination.ct-orange > .active > span, .pagination.ct-orange > .active > a:hover,

.pagination.ct-orange > .active > span:hover, .pagination.ct-orange > .active > a:focus, .pagination.ct-orange > .active > span:focus{
    background-color: #38b54a;
}
.nav-pills.ct-red > li.active > a, .nav-pills.ct-red > li.active > a:hover, .nav-pills.ct-red > li.active > a:focus,
.pagination.ct-red > .active > a, .pagination.ct-red > .active > span, .pagination.ct-red > .active > a:hover,
.pagination.ct-red > .active > span:hover, .pagination.ct-red > .active > a:focus, .pagination.ct-red > .active > span:focus{
    background-color: #FF3B30;
}
.nav-pills.ct-blue > li > a {
    border: 1px solid #3472F7;
    color: #3472F7;
}
.nav-pills.ct-azure > li > a {
    border: 1px solid #2CA8FF;
    color: #2CA8FF;
}
.nav-pills.ct-green > li > a {
    border: 1px solid #05AE0E;
    color: #05AE0E;
}
.nav-pills.ct-orange > li > a {
    border: 1px solid #38b54a;
    color: #38b54a;
}
.nav-pills.ct-red > li > a {
    border: 1px solid #FF3B30;
    color: #FF3B30;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #2CA8FF;
    color: #FFFFFF;
}

.nav-pills > li:first-child > a{
    border-radius: 4px 0 0 4px;
    margin: 0;
}
.nav-pills > li:last-child > a{
    border-radius: 0 4px 4px 0;
}

.pagination.no-border > li > a, .pagination.no-border > li > span{
    border: 0;
}
.pagination > li > a, .pagination > li > span, .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    /*border-radius: 50%;*/
    margin: 0 2px;
    color: #777777;
}
.pagination > li.active > a, .pagination > li.active > span, .pagination > li.active > a:hover, .pagination > li.active > span:hover, .pagination > li.active > a:focus, .pagination > li.active > span:focus {
    background-color: #2CA8FF;
    border: 0;
    color: #FFFFFF;
    padding: 7px 13px;
}
.text-primary, .text-primary:hover{
    color: #1D62F0;
}
.text-info, .text-info:hover{
    color: #109CFF;
}
.text-success, .text-success:hover{
    color: #0C9C14;
}
.text-warning, .text-warning:hover{
    color: #ED8D00;
}
.text-danger, .text-danger:hover{
    color: #EE2D20;
}
.modal-header {
    border: 0 none;
}


.navbar-default .navbar-nav > li > a{
    color: #929292;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    position: relative;

}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #929292;
    background-color: transparent;
}
.navbar-nav > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.navbar-default .navbar-nav > li > a.active:after{

    background-color: #38b54a;
    bottom: -24px;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    transition: all 0.2s ease 0s;
    width: 100%;
}
.navbar-default .navbar-nav > li > a::after {
    background-color: #f5a31f;
    bottom: -24px;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    transition: all 0.2s ease 0s;
    width: 0%;
}
.navbar-default .navbar-nav > li > a:hover:after {
    width: 100%;
}

.navbar-nav.navbar-right:last-child{
    margin-right: 20px
}

.main-nav {
    padding-top: 10px;
}
.button.navbar-right {
    padding-top: 10px;
}
.nav-button-details{
    background-color: #ceb688 !important;
}
.nav-button {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #c2c2c2;
    border: medium none;
    color: #2489b3;
    font-size: 11px;
    border-radius: 15px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.nav-button.login{
    background-color: #38b54a;
    margin-right: 5px;
    padding : 6px 20px;
    color: #fff;
}
.nav-button.login:hover {
    background-color: #005d84;
}.details-option-div:hover{
     background-color: #38b54a;

 }
.nav-button.register{
    margin-right: 5px;
    padding : 6px 20px;
}
.nav-button.register:hover{
    background-color: #38b54a;
    color: #fff;
}
.nav-button.view{
    margin-right: 5px;
    padding : 6px 20px;
    background-color: rgb(212, 166, 8);
    color: #fff;
}
.nav-button.view:hover{
    background-color: rgb(0, 93, 132);
}
.details-option-div
{
    font-size: 11px;
    background-color: rgb(36, 137, 179);
    padding : 0px 10px;
    border-radius: 20px;
    color: #fff;
    margin-left : 1px;
}
.details-option-div i {
    font-size: 13px !important;
}

/*!
 * Yamm!3
 * Yet another megamenu for Bootstrap 3
 *
 * http://geedmo.github.com/yamm3
 */
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
    position: static;
}
.yamm .container {
    position: relative;
}
.yamm .dropdown-menu {
    right: auto;
}
.yamm .yamm-content {
    padding: 20px 30px;
}
@media (max-width: 767px) {
    .yamm .yamm-content {
        padding: 10px 20px;
    }
    .dayArrowTour{
        left: 15px !important;
        top: 35px !important;
    }
}
.yamm .dropdown.yamm-fw .dropdown-menu {
    left: 0;
    right: 0;
}

.ymm-sw .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    float: left;
    min-width: 80px;
    padding: inherit;
    margin: inherit;
    list-style: outside none none;
    font-size: inherit;
    background-color: #FFF;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
    box-shadow: 0px 0.5px 1px #CECECE;
    background-clip: padding-box;
}
.ymm-sw .dropdown-menu li{
    clear: both;
    height: 50px;
}
.navbar-default .ymm-sw .navbar-nav a::after {
    bottom: 5px;
    background-color: #FFF;
}
.yamm .ymm-sw  .dropdown-menu {
    left: auto;
    right: auto;
}
.navbar .yamm-content h5 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: dotted 1px #555555;
}
@media (max-width: 767px) {
    .navbar .yamm-content h5 {
        font-size: 14px;
    }
}
.navbar .yamm-content ul {
    margin: 0;
    padding: 0;
}
.navbar .yamm-content ul li {
    list-style-type: none;
    border-bottom: solid 1px #eeeeee;
    text-transform: uppercase;
    padding: 4px 0;
}
.navbar .yamm-content ul li a {
    color: #777;
    font-size: 14px;
    display: block;
    font-weight: 300;
}
.navbar .yamm-content ul li a:hover {
    color: #38b54a;
    text-decoration: none;
}
.navbar .yamm-content .banner {
    margin-bottom: 10px;
}

.tooltip {
    font-size: 14px;
    font-weight: bold;
}
.tooltip-arrow{
    display: none;
    opacity: 0;
}
.tooltip-inner {
    background-color: #FAE6A4;
    border-radius: 4px;
    box-shadow: 0 1px 13px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(115, 71, 38, 0.23);
    color: #734726;
    max-width: 200px;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
}
.tooltip-inner:after {
    content: "";
    display: inline-block;
    left: 100%;
    margin-left: -56%;
    position: absolute;
}
.tooltip-inner:before {
    content: "";
    display: inline-block;
    left: 100%;
    margin-left: -56%;
    position: absolute;
}
.tooltip.top {
    margin-top: -11px;
    padding: 0;
}
.tooltip.top .tooltip-inner:after {
    border-top: 11px solid #FAE6A4;
    border-left: 11px solid rgba(0, 0, 0, 0);
    border-right: 11px solid rgba(0, 0, 0, 0);
    bottom: -10px;
}
.tooltip.top .tooltip-inner:before {
    border-top: 11px solid rgba(0, 0, 0, 0.2);
    border-left: 11px solid rgba(0, 0, 0, 0);
    border-right: 11px solid rgba(0, 0, 0, 0);
    bottom: -11px;
}
.tooltip.bottom {
    margin-top: 11px;
    padding: 0;
}
.tooltip.bottom .tooltip-inner:after {
    border-bottom: 11px solid #FAE6A4;
    border-left: 11px solid rgba(0, 0, 0, 0);
    border-right: 11px solid rgba(0, 0, 0, 0);
    top: -10px;
}
.tooltip.bottom .tooltip-inner:before {
    border-bottom: 11px solid rgba(0, 0, 0, 0.2);
    border-left: 11px solid rgba(0, 0, 0, 0);
    border-right: 11px solid rgba(0, 0, 0, 0);
    top: -11px;
}
.tooltip.left{
    margin-left: -11px;
    padding: 0;
}
.tooltip.left .tooltip-inner:after {
    border-left: 11px solid #FAE6A4;
    border-top: 11px solid rgba(0, 0, 0, 0);
    border-bottom: 11px solid rgba(0, 0, 0, 0);
    right: -10px;
    left: auto;
    margin-left: 0;
}
.tooltip.left .tooltip-inner:before {
    border-left: 11px solid rgba(0, 0, 0, 0.2);
    border-top: 11px solid rgba(0, 0, 0, 0);
    border-bottom: 11px solid rgba(0, 0, 0, 0);
    right: -11px;
    left: auto;
    margin-left: 0;
}
.tooltip.right{
    margin-left: 11px;
    padding: 0;
}
.tooltip.right .tooltip-inner:after {
    border-right: 11px solid #FAE6A4;
    border-top: 11px solid rgba(0, 0, 0, 0);
    border-bottom: 11px solid rgba(0, 0, 0, 0);
    left: -10px;
    top: 0;
    margin-left: 0;
}
.tooltip.right .tooltip-inner:before {
    border-right: 11px solid rgba(0, 0, 0, 0.2);
    border-top: 11px solid rgba(0, 0, 0, 0);
    border-bottom: 11px solid rgba(0, 0, 0, 0);
    left: -11px;
    top: 0;
    margin-left: 0;
}

.slider-area{
    position: relative;
    height: 450px;
    z-index: -1;
}
#bg-slider .item img{
    width: 100%;
    height: 450px
}

.slider-content{
    position: absolute;
    top: 20%;
    text-align: center;
    color: #FFF;
    width: 100%;
}
.slider-content h2 {
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;color: rgba(255, 165, 0, 0.71);
    font-weight: 500;
}
.slider-content p {
    font-size: 14px;
    margin-bottom: 60px;
    color: rgb(110, 110, 110);
}

.slider .owl-theme .owl-controls {
    margin-top: 0px;
    position: relative;
    text-align: center;
}
.slider .owl-pagination {
    bottom: 200px;
    position: absolute;
    right: 10px;
    width: 40px;
    z-index: 9999;
}
.slider .owl-theme .owl-controls .owl-page span{
    background: #FFC600
}

/* Top Header */
.progress-thin{
    height: 2px;
}

.header-connect{
    padding-top: 10px;
    background: #005d84;
}
.header-call{
    direction: ltr;
    float: right;
}
.header-call p{
    color: #666666;
}
.header-call p span{
    margin-right: 15px;
    font-weight: 300;
    display: inline-block;
}
.header-call p span i{
    margin-right: 4px;
    font-size: 20px;
    position: relative;
    bottom: -3px;
}
.header-social ul{
    padding-top: 5px;
    margin-bottom: 0px;
    margin-top : -3px;
}
.header-social ul li a{
    color: white;
    font-size: 14px

}
.header-social ul li a:hover{
    color: #ffa500;
}

.layout-switcher a{
    font-size: 25px;
    color:#777;
}
.layout-switcher a:hover{
    color:#38b54a;
}
.layout-switcher .active{
    color:#38b54a;
}
.layout-switcher {
    padding: 0px 10px;
    text-align: right;
}
.search-widget fieldset .largesearch-btn{
    background-color: #38b54a;
    font-size: 16px;
    border: 1px solid #EAE9E9;
    width: 100%;
    height: 40px;
    color: #FFF;
    transition: all 0.3s ease 0s;
    margin-top: 15px;
}
.form-inline input[type="submit"]:hover {
    background: rgb(126, 126, 126) none repeat scroll 0% 0%;
}
fieldset {
    padding-bottom: 10px;
}

.search-widget fieldset .bootstrap-select button.dropdown-toggle ,.search-widget fieldset .bootstrap-select {
    width: 100% !important;
}
.search-widget .form-inline .form-control,.search-widget  .form-inline .form-control {
    width: 100%;
    background: #FFF;
}
.properties-page .box-two {
    box-shadow: 0px 1px 1px rgba(236, 236, 236, 0.1);
}

/*
Asside widgets CSS
*/
.panel.sidebar-menu h3 {
    padding: 5px 0;
    margin: 0;
}
.panel.sidebar-menu {
    background: transparent;
    margin: 0 0 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.panel.sidebar-menu .panel-heading {
    text-transform: uppercase;
    margin-bottom: 10px;
    background: none;
    padding: 0;
    border-bottom: none;
}
.panel.sidebar-menu .panel-heading h1,
.panel.sidebar-menu .panel-heading h2,
.panel.sidebar-menu .panel-heading h3,
.panel.sidebar-menu .panel-heading h4,
.panel.sidebar-menu .panel-heading h5 {
    display: inline-block;
    border-bottom: solid 3px #38b54a;
    line-height: 1.1;
    margin-bottom: 0;
    padding-bottom: 10px;
}
.panel.sidebar-menu .panel-heading .btn.btn-danger {
    color: #fff;
    margin-top: 5px;
}
.panel.sidebar-menu .panel-body {
    padding: 0;
}
.panel.sidebar-menu .panel-body span.colour {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: solid 1px #555555;
    vertical-align: top;
    margin-top: 2px;
    margin-left: 5px;
}
.panel.sidebar-menu .panel-body span.colour.white {
    background: #fff;
}
.panel.sidebar-menu .panel-body span.colour.red {
    background: red;
}
.panel.sidebar-menu .panel-body span.colour.green {
    background: green;
}
.panel.sidebar-menu .panel-body span.colour.blue {
    background: blue;
}
.panel.sidebar-menu .panel-body span.colour.yellow {
    background: yellow;
}
.panel.sidebar-menu .panel-body label {
    color: #777;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 0px;
}
.panel.sidebar-menu .panel-body label:hover {
    color: #555555;
}
.panel.sidebar-menu ul.nav.category-menu {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
}
.panel-default {
    border-color: transparent;
}
.panel {
    margin-bottom: 20px;
    background-color: #FFF;
    border: transparent;
    border-radius: 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0);


}
.panel.sidebar-menu ul.nav ul {
    list-style: none;
    padding-left: 0;
}
.panel.sidebar-menu ul.nav ul li {
    display: block;
}
.panel.sidebar-menu ul.nav ul li a {
    position: relative;
    font-weight: normal;
    text-transform: none !important;
    display: block;
    padding: 10px 15px;
    padding-left: 30px;
    font-size: 13px;
    color: #999999;
}
.panel.sidebar-menu ul.nav ul li a:hover,
.panel.sidebar-menu ul.nav ul li a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}
.panel.sidebar-menu ul.tag-cloud {
    list-style: none;
    padding-left: 0;
}
.panel.sidebar-menu ul.tag-cloud li {
    display: inline-block;
}
.panel.sidebar-menu ul.tag-cloud li a {
    display: inline-block;
    padding: 5px;
    border: solid 1px #eeeeee;
    border-radius: 0;
    color: #38b54a;
    margin: 5px 5px 5px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
}
.panel.sidebar-menu ul.tag-cloud li a:hover {
    color: #38b54a;
    text-decoration: none;
    border-color: #38b54a;
}
.panel.sidebar-menu ul.popular,
.panel.sidebar-menu ul.recent {
    list-style: none;
    padding-left: 0;
    padding: 20px 0;
}
.panel.sidebar-menu ul.popular li,
.panel.sidebar-menu ul.recent li {
    margin-bottom: 10px;
    padding: 5px 0;
    border-bottom: dotted 1px #eeeeee;
}
.panel.sidebar-menu ul.popular li:before,
.panel.sidebar-menu ul.recent li:before,
.panel.sidebar-menu ul.popular li:after,
.panel.sidebar-menu ul.recent li:after {
    content: " ";
    display: table;
}
.panel.sidebar-menu ul.popular li:after,
.panel.sidebar-menu ul.recent li:after {
    clear: both;
}
.panel.sidebar-menu ul.popular li:before,
.panel.sidebar-menu ul.recent li:before,
.panel.sidebar-menu ul.popular li:after,
.panel.sidebar-menu ul.recent li:after {
    content: " ";
    display: table;
}
.panel.sidebar-menu ul.popular li:after,
.panel.sidebar-menu ul.recent li:after {
    clear: both;
}
.panel.sidebar-menu ul.popular li img,
.panel.sidebar-menu ul.recent li img {
    width: 50px;
    margin-right: 10px;
}
.panel.sidebar-menu ul.popular li h5,
.panel.sidebar-menu ul.recent li h5 {
    margin: 0 0 10px;
}
.panel.sidebar-menu ul.popular li h5 a,
.panel.sidebar-menu ul.recent li h5 a {
    font-weight: normal;
}
.panel.sidebar-menu ul.popular li p.date,
.panel.sidebar-menu ul.recent li p.date {
    float: right;
    font-size: 13px;
    color: #999999;
}
.panel.sidebar-menu ul.popular li:last-child,
.panel.sidebar-menu ul.recent li:last-child {
    border-bottom: none;
}
.panel.sidebar-menu .text-widget {
    font-size: 13px;
}
.panel.sidebar-menu.with-icons ul.nav li a:after {
    font-family: 'FontAwesome';
    content: "\f105";
    position: relative;
    top: 0;
    float: right;
}
.similar-property-wdg {

}


.page-title h5{
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0
}
.page-title h2 {
    margin: 10px 0px;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}
.page-title h2 span{
    color: #00ADEF
}
.page-title p {
    font-size: 18px;
    padding: 10px 20% 25px;
    line-height: 27px;
}

.pagination {
    height: 40px;
    margin: 20px 10px;
    direction: ltr;
}

.pagination ul {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    *zoom: 1;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 0px;
}

.pagination li {
    display: inline;
}

.pagination a,
.pagination span {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}

.pagination a:hover,
.pagination .active a,
.pagination .active span {
    background-color: #f5f5f5;
}

.pagination .active a,
.pagination .active span {
    color: #999999;
    cursor: default;
}

.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
    color: #999999;
    cursor: default;
    background-color: transparent;
}

.pagination li:first-child a,
.pagination li:first-child span {
    border-left-width: 1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.pagination li:last-child a,
.pagination li:last-child span {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.pagination-centered {
    text-align: center;
}

.pagination-right {
    text-align: right;
}

.how-it-work {
    margin: 40px 0px 20px;
    background-color: rgb(255, 255, 255);
}
.how-it-work i {
    color:#939191;
    border: 3px solid #939191;
    padding: 19px;
    border-radius: 50%;
    height: 110px;
    width: 110px;
}
.single-work{
    transition: all 0.2s ease-in-out 0s;
    padding: 10px;
    overflow: hidden;
}
.single-work h3{
    color: #202020;
    font-size: 20px;
    font-weight: 500;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.single-work p {
    color: #666666;
    font-weight: 300;
    line-height: 26px;
    margin-top: 25px;
    padding: 0 37px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.single-work {
    text-align: left;
}

/*testimonial*/

.testimonial{
    position: relative;
    margin-top: 50px;
}
.testimonial .item {
    padding-bottom: 67px;
    position: relative;
}
.testimonial .item .client-face {
    position: absolute;
    top: 112px;
    right: 146px;
    text-align: center;
}
.client-face > img {
    border: 5px solid #fff;
    border-radius: 50%;
}
.testimonial .owl-theme .owl-controls .owl-page span{
    background: #38b54a
}
.client-text {
    border-radius: 2px;
    padding: 20px 30px;
    margin: 15px;
    border: 1px solid #ECE9E9;
    background-color: #F5F5F5;
}
.client-text p {
    line-height: 25px;
    padding: 0 0 0.5em;
}
.client-text h4 {
    font-size: 15px
}
.client-text h4 i{
    font-size: 13px
}
/*Tools CSS*/
.p0{
    padding: 0px;
}
.overflow{
    overflow: hidden;
}
.mar-l-20{
    margin-left: 20px;
}
.mar-r-20{
    margin-right: 20px;
}
.mar-b-20{
    margin-bottom: 20px;
}
.box {
    background: #FFF none repeat scroll 0% 0%;
    margin: 0px 0px 30px;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
.box-two {
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.dot-hr{
    border-bottom: 1px dotted #CECBC7;
    margin-bottom: 10px;
}
.slim-hr{

}
.color{
    color:#9B9B9B;
}
.orange{
    color:orange;
}
.strong{
    font-weight: 500;
}
.padding-top-25{
    padding-top: 25px;
}
.padding-top-40{
    padding-top: 40px;
}
.padding-bottom-40{
    padding-bottom: 40px;
}
.pr0 {
    padding-right: 0px !important;
}
.pl0 {
    padding-left:0px !important;
}
.pl-10 {
    padding-left: 10px !important;
}
.pr-10 {
    padding-right: 10px !important;
}

.padding-top-15{
    padding-top:15px;
}
.padding-bottom-15{
    padding-bottom:15px;
}
.pr-30 {
    padding-right: 30px !important;
}
.p-b-15{
    padding-bottom: 15px;
}
.padding-5{
    padding: 5px
}
.center{
    text-align: center;
}

.right {
    text-align: right;
}
.left {
    text-align: left;
}
.garo-icon-dog-gry{

}
.garo-icon-dog-gry::after{

}
.garo-icon-car-gry{

}
.garo-icon-car-gry::after{

}
.garo-icon-area-gry{

}
.garo-icon-area-gry::after{

}
.garo-icon-sw-gry{

}
.garo-icon-sw-gry::after{

}
.garo-icon-shw-gry{

}
.garo-icon-shw-gry::after{

}

.garo-icon-wf-gry{

}
.garo-icon-wf-gry::after{

}

.garo-icon-bed-gry{

}
.garo-icon-bed-gry::after{

}

.garo-icon-zzz-gry{

}
.garo-icon-zzz-gry::after{

}

/*=====================================
proerty-th
======================================*/

.proerty-th .proerty-item{
    background-color: #FFF;
    margin: 10px 0;
}
.proerty-th .proerty-item .item-thumb{
    position: relative;
}
.proerty-th .proerty-item:hover  .item-thumb img{
    opacity: 1;
}
.proerty-th .proerty-item .item-thumb:hover .tm_mask {
    opacity: 1;
}
.proerty-th .proerty-item  .item-thumb img{
    transition: all 0.2s linear 0s;
    display: block;
    position: relative;
    width:100%;
    /* opacity: 0.7;*/
    min-height: 225px;
    max-height: 265px;
}
.proerty-th .proerty-item  .item-entry{
    padding: 8px;

}
.properties-page .proerty-th .proerty-price{
    font-weight: 600;
    color: #38b54a;
}
.proerty-th .proerty-item  .item-entry h5{
    text-transform: uppercase;
    font-weight: 600;
    color: #9B9B9B;
    position: relative;
}
.proerty-th .proerty-item  .item-entry h5::after {
    background: transparent url("../../assets/img/chevron-down.png") no-repeat scroll center center;
    width: 15px;
    right:5px;
    height: 7px;
    content: "";
    position: absolute;
    bottom: -16px;
    display: block;
}


.proerty-th .proerty-item2{
    background-color: #FFF;
    margin: 10px 0;
    min-height: 298px;
}
.proerty-th .proerty-item2 .item-thumb{
    position: relative;
    text-align: center;
}
.proerty-th .proerty-item2:hover  .item-thumb img{
    opacity: 1;
}
.proerty-th .proerty-item2 .item-thumb:hover .tm_mask {
    opacity: 1;
}
.proerty-th .proerty-item2  .item-thumb img{
    transition: all 0.2s linear 0s;
    display: block;
    position: relative;
    max-width:100%;
    height: 250px;
}
.proerty-th .proerty-item2  .item-entry{
    padding: 8px;

}
.proerty-th .proerty-item2 .item-entry h5{
    text-transform: uppercase;
    font-weight: 600;
    color: #9B9B9B;
    position: relative;
}
.proerty-th .proerty-item2 .item-entry h5::after {
    background: transparent url("../../assets/img/chevron-down.png") no-repeat scroll center center;
    width: 15px;
    left: 17px;
    height: 7px;
    content: "";
    position: absolute;
    bottom: -16px;
    display: block;
}
.proerty-status{
    font-weight: 600;
}
.tm_mask {
    opacity: 0;
    background-color: transparent;
    transition: all 0.4s ease-in-out 0s;
    width: 100%;
    overflow: hidden;
    height: 45px;
    position: absolute;
    padding: 5px;
    bottom: 0px;
    color: #FFF;

}

/*=====================================
proerty-th-list
======================================*/
.proerty-th-list{
    margin-left: -9px;
}
.proerty-th-list .col-md-4{
    width: 100%;
    padding: 15px 10px;
}
.proerty-th-list .col-md-4 .item-thumb{
    width:40%;
    float: left;
}
.proerty-th-list .col-md-4 .item-thumb img {
    opacity: 0.7;
    height: 230px;
    vertical-align: middle;
    border: 0px none;
    width: 100%;
    padding-right: 25px;
}

.properties-page .box-two:hover .item-thumb img {
    opacity:1;
}

.proerty-th-list .col-md-4 .item-entry{
    width:60%;
    float: left;
    padding-right: 15px;
}


.proerty-th-list .col-md-3 .item-entry{
    width:60%;
    float: left;
    padding-right: 15px;
}
.proerty-th-list .col-md-3{
    width: 100%;
    padding: 15px 10px;
}
.proerty-th-list .col-md-3 .item-thumb{
    width:40%;
    float: left;
}
.proerty-th-list .col-md-3 .item-thumb img {
    opacity: 0.7;
    height: 230px;
    vertical-align: middle;
    border: 0px none;
    width: 100%;
    padding-right: 25px;
}

.proerty-th-list .proerty-item-ads{
    text-align: center;
    border: none;
}
.properties-page .box-two {
    overflow: hidden !important;
}
.proerty-th-list  .proerty-item .item-entry h5 {
    text-transform: uppercase;
    font-weight: 600;
    color: #9B9B9B;
    position: relative;
}

.proerty-th-list .proerty-price{
    font-weight: 600;
    color: #38b54a;
    font-size: 25px;
}
.property-icon {
    clear: both;
    padding: 5px 0px;
}
.proerty-th-list .property-icon {
    clear: both;
    padding: 5px 0px;
    margin-top: 15px;
    background-color: #EDEDED;
    color: #555;
}
.property-icon img{

}
.proerty-th-list p {
    clear: both;
    padding-top: 25px;
    padding-right: 20px;
    display: block !important;
}

.page-subheader .sort-by-list {
    display: inline-block;
    padding: 0px;
}
.page-subheader .sort-by-list li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
.page-subheader .sort-by-list li.active a {
    padding-right: 20px;
    border-color: #3F3F3F;
    background-color: #444343;
    color: #FFF;
}
.page-subheader .sort-by-list li a {
    position: relative;
    display: block;
    padding: 2px 7px;
    background-color: #F4F4F4;
    border-width: 1px;
    border-style: solid;
    border-color: #DDDCDC;
    color: #414040;
}
.page-subheader .items-per-page {
    display: inline-block;
    vertical-align: top;
    text-align: right;
}
.page-subheader .items-per-page label {
    display: inline-block;
    margin-right: 10px;
}
.page-subheader .items-per-page b {
    font-weight: 400;
}
.page-subheader .items-per-page .sel {
    display: inline-block;
    width: 60px;
    position: relative;
}


/*==================================
recent-property-widget
==============================*/
.recent-property-widget ul{
    padding: 0px;
    margin: 0px;
    list-style: outside none none;
}
.recent-property-widget ul li{
    clear: both;
    position: relative;
    padding: 5px;
}
.recent-property-widget ul li .property-seeker {
    position: absolute;

    width: 100%;
    right: -6px;
    color: #FFF;
}
.sold-text{
    font-size : 18px;
    background-color: #f10b0b;
    padding: 6px;
}
.recent-property-widget ul li .property-seeker .b-1 {
    background-color: #D5F500;
    padding: 0px 6px;
}
.recent-property-widget ul li .property-seeker .b-2 {
    background-color: #38b54a;
    padding: 0px 6px;
}

.item-thumb .property-seeker {
    top :15px;
}

/*=========================================
single property page
===========================================*/
.single-property-content {
    background-color: #FFF;
    padding: 0px 15px 20px;
    border: solid 1px #f1f1f1;
}

.lSGallery {
    position: relative;
    bottom: 90px;
}
.lSSlideOuter {
    text-align: center;
}
.single-property-content .lSSlideOuter .lSPager {
    display: inline-block;
}
.single-property-content .lSSlideOuter .lSPager li.active, .single-property-content .lSSlideOuter .lSPager li:hover {
    border-radius: 0px;
}
.single-property-content .lSSlideOuter .lSPager li.active, .single-property-content .lSSlideOuter .lSPager li:hover {
    border: 2px solid #FFF;
}
.single-property-content .light-slide-item {
    position: relative;
    overflow: hidden;
}
.single-property-content .lSAction > .lSNext {
    background-image: url("../../assets/img/arrow-right.svg");
    background-position: center center;
}
.single-property-content .lSAction > .lSPrev {
    background-image: url("../../assets/img/arrow-left.svg");
    background-position: center center;
}

.favorite-and-print {
    position: absolute;
    z-index: 9;
    left: 0px;
    padding: 15px;
}
.favorite-and-print .add-to-fav {
    color: #FFF;
    border: 2px solid #FFF;
    border-radius: 50%;
    height: 35px;
    margin-left: 10px;
    width: 35px;
    padding: 10px 5px 4px 0px;
}
.favorite-and-print  .printer-icon {
    color: #FFF;
    border: 2px solid #FFF;
    border-radius: 50%;
    padding: 10px 7px 4px 7px;
}
.favorite-and-print .add-to-fav:hover  ,.favorite-and-print  .printer-icon:hover  {
    color:#38b54a;
    border-color: #38b54a;
}
.favorite-and-print .add-to-fav i ,.favorite-and-print  .printer-icon i  {
    font-size: 25px;
}
.prp-style-2 .single-property-wrapper{
    margin-top: -35px;
}
.prp-style-1 .single-property-wrapper{
    margin-top: -35px;
}
.single-property-header {
    padding-bottom: 25px;
    position: relative;
    clear: both;
    overflow: hidden;
}
.single-property-header .property-title {
    margin: 10px 0px;
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
}
.single-property-header .property-price{
    color: #FFA500;
    font-size: 30px;
    right: 0px;
    border-bottom: 2px solid;
    line-height: 42px;
}
.clearfix {
    clear: both;
}
.s-property-title {
    margin-bottom: 15px;
    color: #FFA500;
    font-size: 19px;
    margin-top: -15px;
}

.s-property-title-1 {
    margin-bottom: 15px;
    color: #FFA500;
    font-size: 19px;
    margin-top: -7px;
}

.s-property-title::after {
    background-color: #E5E6E7;
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    margin: 3px 0px 0px 2px;
}
.property-single-content p {
    margin-bottom: 20px;
}
.space1{
    height: 20px;
}
.property-meta{
    padding: 20px 0px;
}
.property-info-entry .property-info-label {
    font-size: 13px;
    display: block;
    line-height: 15px;
    text-transform: uppercase;
}
.property-info-entry .property-info-value {
    font-size: 18px;
    line-height: 24px;
    white-space: nowrap;
}
.property-info-unit{
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
}
.additional-details-list{
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
}
.additional-details-list li{
    overflow: hidden;
    margin: 2px;
    border: 1px solid #F3F3F3;
}
.add-d-title {
    font-weight: 600;
    text-transform: uppercase;
    background-color: #A5A5A5;
    margin: 0px;
    color: #FFF;
}
.add-d-title:hover {
    background-color: #727272;
}

.sidebar-property{
    background-color:#EEE;
    /*   overflow: hidden; */
    padding: 15px 25px 25px;
}
.dealer-widget {
    background-color: #838383;
    padding: 15px;
    color:#FFF;
    padding-bottom: 20px;
    margin: -15px -15px 25px;
}
.dealer-name{
    margin-top: 6px;
    margin-bottom: 5px;
}
.dealer-name a {
    color: #626262;
    font-size: 20px;
    text-transform: uppercase;
}
.dealer-name span {
    font-size: 17px;
    clear: both;
}
.dealer-face img{
    opacity: 0.7
}
.dealer-face img:hover{
    opacity: 0.9;
    border: 2px solid #FFF;
}
.dealer-social-media a{
    color: #969696;
    margin: 5px;
}
.dealer-contacts{
    list-style: outside none none;
    padding: 30px 0px 0px 10px;
}
.dealer-contacts li i{
    color: black;
    padding-right: 8px;
}
.clear{
    clear: both;
    overflow: hidden;
}
.dealer-content p{
    padding-left: 10px;
}
.section {
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
}
.section_1 {
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
    margin-top: -118px;
}
.property-features ul {
    padding: 0px ;
    list-style: outside none none;
}
.property-features ul li{
    margin: 0px 15px 15px 0px;
    display: inline-table;
}
.property-features ul li a::after{
    content: "/";
    color: #38b54a;
    font-weight: bold;
    padding-left: 5px;
    font-size: 14px;
}
.property-features ul li a{
    text-transform: uppercase;
    color: #9C9C9C;
    font-weight: 500;
}
.property-features ul li a:hover{
    color: black;
}
.roperty-social ul{
    padding: 0px;
    margin: 0px;
    list-style: outside none none ;
}
.roperty-social ul li{
    display: inline-block;
    margin: 5px;
}
.property-style2 .dealer-widget {
    background-color: #838383;
}
.dealer-section-space{
    margin: -5px -14px 25px;
    background-color: #9B9B9B;
    padding: 10px 25px;
    font-size: 18px;
    text-transform: uppercase;
}
#prop-smlr-slide_0 .owl-item{
    padding: 5px;
}
#prop-smlr-slide_0 .owl-item .item-entry{
    padding: 10px
}
#prop-smlr-slide_0 .owl-item .item-entry h5 {
    text-transform: uppercase;
    font-weight: 600;
    color: #9B9B9B;
    position: relative;
    text-align: right;
}
/*full width property */
.full-width-sld .lSGallery {
    bottom: 36px;
}

.dealer-action a{
    color: #7E7E7E;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 300;
}
.dealer-action a:hover{
    color: black;
}
.dealer-action a::after{
    content: "/";
    color: #38b54a;
    font-weight: 700;
    font-size: 20px;
    margin: 4px;
}
.register-area{
    padding: 40px;
}

/*=====================================
Welcom
======================================*/
.Welcome-area{
    background: #F3F3F3 url("../../assets/img/welcome-bg.png") no-repeat scroll right top;
    position: relative;


}
.Welcome-area .container .Welcome-entry{
    overflow: hidden;
    padding: 50px 10px 45px;
}
.welcome-icon {
    height: 90px;
    width: 90px;
    border: 2px solid #777;
    border-radius: 100%;
    display: inline-block;
    position: relative;
    padding: 15px;
    cursor: pointer;
}
.welcome-estate:hover .welcome-icon{
    color:#FFF;
    border: 2px solid transparent;
    background-color: #38b54a;
}

.welcome_text{
    color:#FFF;
}
.welcome-estate{
    background-color: #FFFFFFB3;
    padding: 35px 0px;
    text-align: center;
    fill: #FFF;
}
.welcome-estate h3 {
    font: 600 14px "Open Sans",sans-serif;
    text-transform: uppercase;
    margin: 20px 0px 0px;
}
.welcome_text ul {
    padding-left: 0px;
    list-style: outside none none;
    margin-top: 45px;
}
.welcome_text ul li {
    margin-bottom: 10px;
}
.welcome_text ul li span {
    font-size: 18px;
    margin-right: 15px;
}
.welcome-circle{
    background-color: #FFF;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: -18px 0px;
    border: 10px solid #F3F3F3;
    position: relative;
    z-index: 1000;
}
.welcome_text .page-title h2 {
    color: #9B9B9B;
    text-transform: uppercase;
    background-color: #FFF;
    position: absolute;
    top: 126px;
    right: 26px;
    font-weight: 500;
    font-size: 35px;
    border-radius: 50%;
    padding: 35px 10px;
    width: 170px;
    height: 160px;
}
/*===================================================
count-area
===================================================*/
.count-area {
    position: relative;
    background-color: #FCFCFC;
}
.count-area .count-item {
    text-align: center;
}
.count-area .count-item-circle {
    height: 100px;
    width: 100px;
    border: 1px solid #777;
    border-radius: 100%;
    margin: 0px auto;
    position: relative;
}
.count-item-circle span {
    font-size: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    right: 0px;
}
.count-area .chart {
    position: relative;
}
.percent-blocks{
    padding-top:45px;
    padding-bottom: 70px
}
.count-item h2 {
    font: 700 30px "Open Sans",sans-serif;
    text-align: center;
    margin: 30px 0px 5px;
}
.chart canvas {
    position: absolute;
}
.count-item h5 {
    font: 500 15px "Open Sans",sans-serif;
    padding: 2px 15px;
    text-transform: uppercase;
    margin: 0px;
    border-left: 2px solid #38b54a;
    border-right: 2px solid #38b54a;
    display: inline-block;
}
.boy-sale-area {
    position: relative;
    padding: 70px 0px;
    background-color: #F3F3F3;
    color: #FFF;
}

.asks-first{
    background-color: rgb(225, 225, 225);
    position: relative;
    cursor: pointer;
    padding: 8px 0px 8px 17px;
}
.asks-first:hover{
    background-color: #8C8C8C;
}
.asks-first:hover .asks-first-circle{
    background-color: #8C8C8C;
}
.asks-first-circle {
    float: left;
    width: 70px;
    height: 70px;
    border: 2px solid #9C9C9C;
    border-radius: 100%;
    text-align: center;
    margin-right: 15px;
}
.asks-first-circle span {
    vertical-align: middle;
    font-size: 32px;
    margin-top: 15px;
    line-height: 1;
}
.asks-first-info{
    color: #FFF;
    margin: 0px 65px 0px 85px;
}
.asks-first-info h2 {
    font: 500 20px "Open Sans",sans-serif;
    margin: 0px 0px 4px;
    text-transform: uppercase;
}
.asks-first-info p {
    font: 400 13px "Open Sans",sans-serif;
    margin: 0px;
}
.asks-first-arrow{
    top: 0px;
    position: absolute;
    left: 0px;
    width: 60px;
    height: 100%;
    float: left;
    background: rgba(0, 0, 0, 0.07) none repeat scroll 0% 0%;
    text-align: center;
}
.asks-first-arrow span {
    background: rgba(255, 255, 255, 0.19) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    border-radius: 100%;
    display: inline-block;
    padding: 4px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    font-weight: normal;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}
.asks-first-arrow img{
    height: 100%;
    border-radius: 0px;
}
.asks-call {
    color: #525252;
    text-align: center;
    margin-top: 45px;
    font-size: 1.35em;
}
.box-tree .item-tree-icon i{
    font-size: 3em;
    cursor:     pointer;
}
.box-tree .item-tree-icon{
    padding-top:35%;
}
.box-tree .item-tree-icon i:hover{
    color: #D27E04;
}
.box-for{
    padding: 10px 0px;
    border: 1px solid #EEE;
    transition: all 0.2s ease 0s;
    box-shadow: none;
    background-color: #FFF;
}
.more-entry a{
    color: #000;
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
}
.tree-sub-ttl {
    font-size: 12px;
}
.border-btn{
    border: 1.5px solid;
    background: transparent none repeat scroll 0% 0%;
    border-radius: 0px;
    padding: 9px 25px;
    margin-top: 10px;

}
.border-btn:hover,.border-btn:focus{

}
.item-entry a {
    color: #000;
}
.item-entry a:hover ,.item-entry a:focus {
    color: #999696;
}
.search-form .search-toggle {
    margin-top: 20px;
    overflow: hidden;
    color: #777;
    border-top: 1px solid #EAEAEA;
    padding: 15px;
}
.search-form .form-inline .form-group {
    width: 235px;
    text-align: left;
}
.slider-selection {
    background: #38b54a;
}
.search-form .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #FFF;
    text-decoration: none;
    background-color: #38b54a;
    outline: 0px none;
}
.search-form .dropdown-menu > li > a {
    display: block;
    padding: 9px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}
.search-form .dropdown-menu {
    padding: 5px 0px 0px 0px;
}

/*
blog
*/
.blog-asside-right{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 0;
    padding-bottom: 15px;
}
#blog-listing-big {
    padding: 100px 0px 70px;
}
.blog-lst img{
    width:100%;
    padding-bottom: 15px;
}
.blog-lst .comment  img {
    width: auto;
    padding-bottom: 0px;
}
.blog-page .post, #blog-homepage .post {
    margin-bottom: 40px;
    padding: 1px 15px;
}

.blog-page  .post .author-category, #blog-homepage .post .author-category {
    color: #999;
    text-transform: uppercase;
    font-weight: 300;
}
.blog-page  .post .author-category a, #blog-homepage .post .author-category a {
    font-weight: 500;
}

.blog-page  .post .image, #blog-homepage .post .image {
    margin-bottom: 10px;
    overflow: hidden;
}
.blog-page  .post .intro, #blog-homepage .post .intro {
    text-align: left;
}
.blog-page  .post .read-more, #blog-homepage .post .read-more {
    text-align: right;
}
.blog-page  .post .date-comments a, #blog-homepage .post .date-comments a {
    color: #999;
    margin-right: 20px;
    font-weight: 300;
}
/*Home page style 2 Edite */
home-lager-shearch{
    background-color: rgb(252, 252, 252);
    padding-top: 25px;
    margin-top: -125px;
}
.home-lager-shearch .large-search {
    padding: 25px 25px 10px;
}

.home-lager-shearch .large-search .btn-lg-sheach {
    bottom: -46px;
    border-radius: 50%;
    width: 60px;
    border: 2px solid #FFF;
    background-image: url("../../assets/img/icon-shearch.png");
    position: relative;
    background-position: 2px -1px;
    height: 60px;
}
.home-lager-shearch .large-search .btn-lg-sheach:hover ,.home-lager-shearch .large-search .btn-lg-sheach:focus{
    background-image: url("../../assets/img/icon-shearch.png");
    background-position: 2px -1px;
    background-color: #655D5D;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #FFF;
    background-color: #FFC500;
}
.nav-pills > li > a {
    border-radius: 0px;
}
.large-search{
    padding: 25px 25px 40px;
}
.large-search .search-form {
    border-radius: 1px;
    padding: 20px 0px;
    box-sizing: border-box;
    position: relative;
    z-index: 9;

    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0);
    display: inline-block;
    width: 100%;
}
.large-search .search-form .form-inline .form-control, .form-inline .form-control,
.large-search .search-form .bootstrap-select button.dropdown-toggle ,
.large-search .search-form .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
    width:100%;
}
.large-search .search-row{
    overflow: hidden;
}


.login-blocks h2 ,.register-blocks h2  {
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 15px;
    background: transparent none repeat scroll 0% 0%;
    border-bottom: 2px solid #38b54a;
    font-size: 20px;
    line-height: 30px;
}
.login-social{
    display: inline-table;
    margin-bottom: 15px;
    padding: 10px 15px;
    background-color: #7A7878;
    color: rgb(255, 255, 255);
}
.login-social i{
    font-size: 23px;
}
.login-social:hover, .login-social:focus{
    background-color: #38b54a;
}


.profiel-container{
    padding: 10px 0px;
    border: 1px solid #EEE;
    transition: all 0.2s ease 0s;
}
.profiel-container .profiel-header h3 {
    font-weight: 200;
    text-align: center;
}

.profiel-container .picture-container{
    position: relative;
    cursor: pointer;
    text-align: center;
}
.profiel-container .picture{
    width: 220px;
    height: 230px;
    background-color: #808080;
    border: 4px solid #CCC;
    color: #FFF;
    border-radius: 4px;
    margin: 35px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.profiel-container .picture:hover{
    border-color: #2ca8ff;
}
.profiel-container .ct-wizard-azzure .picture:hover{
    border-color: #2CA8FF;
}
.profiel-container  .picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0px;
    opacity: 0 !important;
    position: absolute;
    top: 0px;
    width: 100%;
}

.profiel-container  .btn-finish{
    width: auto;
}
.error-page .error-title{
    font-size: 11em;
    color: #38b54a;
}

.fqa-title::before {

    float: right;
    width: 24px;
    height: 24px;
    content: "";
    color: #38b54a;
    font-size: 16px;
    line-height: 24px;

    font-family: "FontAwesome";
    margin-right: 16px;
    cursor: pointer;

}
.fqa-title1::before {

    float: left;
    width: 24px;
    height: 24px;
    content: "\f1f0";
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-family: "FontAwesome";
    margin-right: 16px;
    cursor: pointer;
    background: blue;
    color: white;
    border-bottom: 3px solid orange;

}


.property-posting{
    padding: 60px 0
}
.overlay {
    background: -webkit-linear-gradient(transparent 57%, rgba(0,0,0,1) 100%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(transparent 57%, rgba(0,0,0,1) 100%); /* FF1.6+ */
    background:     -ms-linear-gradient(transparent 57%, rgba(0,0,0,1) 100%); /* IE10 */
    background:      -o-linear-gradient(transparent 57%, rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background:         linear-gradient(transparent 57%, rgba(0,0,0,1) 100%); /* W3C */
    border-radius: 2px;
    height: 189px;
    left: 0;
    position: absolute;
    top: -82px;
    width: 98%;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.overlay > h3 {
    bottom: -50px;
    margin: 0;
    position: absolute;
    left: 15px;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.property-posting .tab-content{
    margin-top: 30px
}
.tab-content ul li {
    overflow: hidden;
    border: 1px solid #f7f7f7;
    border-radius: 3px;
    margin-bottom: 10px;
}
.tab-content ul li:last-child{
    margin-right: 0;
}

.tab-content ul li a{
    position: relative;
}

.tab-content ul li a:hover .overlay {
    opacity: 1
}
.tab-content ul li a:hover .overlay h3{
    bottom: 20px
}

.tab-content ul.property-seeker li a .overlay{

}
.tab-content ul.property-seeker li a .overlay h3 {
    bottom: -100px;
}
.tab-content ul.property-seeker li a:hover .overlay h3 {
    bottom: 35px;
}
.tab-content ul.property-seeker li a .overlay p {
    bottom: 3px;
    color: #fff;
    font-weight: 400;
    left: -100px;
    position: absolute;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transition-delay:0.2s;
    -moz-transition-delay:0.2s;
    -ms-transition-delay:0.2s;
    -o-transition-delay:0.2s;
    transition-delay:0.2s;

}
.tab-content ul.property-seeker li a:hover .overlay p{
    left: 18px
}

/*FOOOTER*/
.footer-area{
    color: #fff;
}

.footer ul li i {
    padding-right: 10px;
}
.footer-copy{
    background: #005d84;
    border-top: 0.051px solid rgba(162, 162, 162, 0.46);
}
.single-footer{
    margin-top: 35px
}

.footer p{
    line-height: 25px;
    font-size: 13px;
    padding-bottom: 10px;
}
.news-letter p ,.news-letter form{
    padding-bottom: 30px !important;
}

.footer-title-line {
    width: 100px;
    height: 2px;
    background: #FFA600;
    margin: 0px 0px 20px;
    position: relative;
    top: -2px;
}
.footer h5{
    color: #fff;
    margin-top: 20px;
    font-weight: 700;
}
.footer a{
    color: #fff;
}
.footer ul{
    padding: 0px;
    margin: 0px;
}
.footer  ol, .footer ul {
    list-style: outside none none;
}

ul.footer-adress li {
    margin-bottom: -4px;
}
.footer ul li a{
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
}
.footer ul li a:hover{
    color: #38b54a;
    text-decoration: none;
}
.footer-menu li{
    border-bottom: 1px solid rgba(255, 171, 0, 0.31);
}

.footer-copy span{
    margin-right: 20px;
    font-size: 13px;
}
.footer-copy span a{
    color: #000;
    font-weight: 500;
}
.footer img{
    height: 32px;
    margin-bottom: 10px;
}
ul.footer-blog li {
    width: 100%;
    display: table;
}
.footer-blog img {
    max-width: 100%;
    height: 60px;
    margin-bottom: 0px;
}
.footer-blog .blg-entry h6 a{
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 600;
    color: #FFA600;
}
.footer-blog .blg-entry h6 {
    padding: 2px 0px;
    margin: 0px;
}
.footer-blog .blg-date {
    color: #FFF;
    background-color: #AD7206;
    padding: 2px 3px;
    font-size: 11px;
    position: relative;
    top: -22px;
    width: 100%;
}
.footer-blog .blg-thumb img{

}

.footer-blog p {
    line-height: 17px;
}
.news-letter .form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #E1E1E1;
    background-color: rgba(255, 255, 255, 0.52);
    background-image: none;
    border: 1px solid rgba(231, 157, 45, 0.3);
    border-radius: 0px;
    box-shadow: 0px 1px 1px rgba(179, 179, 179, 0.1) inset;
}
.news-letter .form-control:hover ,.news-letter .form-control:focus{
    background-color: rgba(0, 0, 0, 0.1);
}
.footer .subscribe{
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 22px;
    font-size: 14px;
    margin-left: -17px;
    z-index: 99;
    background-color: #FFA600;
    border-color: #FFA600;

    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.footer .subscribe:hover{
    background-color: #2D2D2D;
    border-color: #2D2D2D;
}

.social ul {
    padding: 0px;
    list-style: outside none none;
}
.social li {
    display: inline-block;
    padding-right: 0.3em;
    padding-bottom: 0.3em;
}
.social  ul li a:hover {
    color: rgb(146, 146, 146);

    order-color: #868686;
    background-color: #868686;
}
.social  ul li a:hover i{
    color: rgb(146, 146, 146);
}
.social ul li a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.8s ease 0s;
    color: rgb(146, 146, 146);
}
.social ul li a i{
    color: #38b54a;
    background-color: #fff;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px;
}
.bottom-menu ul{
    list-style: outside none none;
    margin-top: 0px;
}
.bottom-menu ul li{

    display: inline-block;
}
.bottom-menu ul li a {
    font-size: 13px;
    color: #2A2A2A;
    padding: 10px;
    font-weight: 500;
}
.bottom-menu ul li a:hover{
    color: #FFC600;
}
/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    background-image:url(../../assets/img/preloader.gif);
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px;
}
.prop-btm-sheaerch {
    display: none
}
#map {
    height: 300px;
}


#myBtn {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #38b54a;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#myBtn:hover {
    background-color: #555;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: left;
    font-size: 28px;
    font-weight: bold;
    margin-top: 0px !important;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding:0 20px 15px;;
    overflow-x: auto;
    /*overflow: hidden;*/
    min-height: 90%;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
.o-pull-left-en{
    float: right !important;
}
.o-pull-right-en{
    float: left !important;
}
.navbar-ot-right{
    float: left !important;
}
.navbar-ot-left{
    float: right !important;
}

.navbar-ot-text-right{
    text-align: left;
}
#image-gallery li img{
    width: 100% ;
}
.owl-carousel .owl-wrapper-outer{
    direction: ltr;
}
.item .content-slider{
    background-color: #0a08061a;
    top:30%;
    position :absolute;
    color : #fff;
    left: 33%;
    text-align: center;
    width: 33%;
}
.no-padding {
    padding : 0 !important;
}
blockquote{
    border-right: 5px solid #eee;
    border-left: none !important;
}
.info-table th {
    background: #f7a606;
    color: #fff;
}
.info-table td, .info-table th {
    border: 3px solid #4a8ca7;
    padding: 5px 8px;
    vertical-align: top;
}

.info-table-pricing td, .info-table-pricing th {
    border-color: #c3bebe !important;
}
.inner-slider-text{
    position: absolute;
    top: 15px;
    font-size: 18px;
    color: #fff;
    background-color: #00000040;
    max-width: 200px;
    text-align: center;
    padding: 0 10px;

}
#image-gallery{
    float: left;
}

.flight_map_tap3 .nav-tabs > li.active > a, .flight_map_tap3 .nav-tabs > li.active > a:hover {
    color: #f7a605;
    border-top: #e1e1e1 1px solid;
    border-right: #e1e1e1 1px solid;
    border-left: #e1e1e1 1px solid;
    border-bottom: #fff 1px solid;
    background: none;
    outline: none;

}
.flight_map_tap3 .nav-tabs > li > a{
    font-size: 14px;
    text-align: center;
    font-weight: 300;
    padding: 10px ;
    margin-bottom: -7px !important;
}
.flight_map_tap3 .nav-tabs > li
{
    margin-bottom: 6px !important;
}

.section .media{
    border : solid 1px #f0f0f0;
    margin-bottom: 10px;
}
.section .media i{
    display: inline-block;
    font-size: 25px;
}
.section .media h4{
    display: inline-block;
    padding-right: 10px;
}
.section .media .media-body
{
    padding-bottom: 20px;
}
.hotel-img{
    height: 120px;
    margin-left: 20px;
}
.yellow{
    color : #fae709;
}
.padding-top-10{
    padding-top : 10px;
}

.section span.dayArrow {
    background: #f7a606 none repeat scroll 0 0;
    color: #fff;
    display: inline-block !important;
    font-size: 13px !important;
    font-weight: bold;
    padding: 12px !important;
    position: relative;
    cursor: pointer;
    border-radius: 20px 20px;
}
/*.section span.dayArrow:after {
    background: #f7a606 none repeat scroll 0 0;
    content: "";
    height: 20px;
    position: absolute;
    left: -14px;
    top: 33%;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    width: 20px;
    cursor: pointer;
}*/
blockquote:before, blockquote:after {
    content: "";
}
.section span.dayArrow2 {
    color: #000;
    font-weight: bold;
    padding-right: 10px;
}
.dayArrow2 .glyphicon
{
    right: 90%;
    color:#f7a606;
}
#show-all-button{
    float : right;
    width: 10%;
    min-height: 124px;
}
#slick-country-div{
    float: right;
    width: 90%;
    padding: 0 45px !important;
}

#slick-country{
    width: 90%;
    margin:0 auto;
    direction: ltr;
    text-align: right;
}
.slick-slide{
    min-height: 124px !important;
}
h5.day-number{
    text-transform: uppercase;
    font-weight: 600;
    color: #FFA51F;
    letter-spacing: 2px;
    position: relative;
    margin: 10px 0;

}
h5.day-number i{

    display: list-item;
    list-style: none;
}
/*h5.day-number:after{
    background: transparent url(../../assets/img/chevron-down.png) no-repeat scroll center center;
    width: 15px;
    left: 35%;
    height: 7px;
    content: "";
    position: absolute;
    bottom: -16px;
    display: block;
}*/
.slick-prev:before,
.slick-next:before{
    font-weight: bold;
    color : #000 !important;
}
.slick-prev::before {
    content: "<" !important;
}
.slick-next::before {
    content: ">" !important;
}
button.view-hotel-package{
    background-color:#38b54a;
    color:white;
    border-radius: 42px 42px;
}
.padding-0-5{
    padding: 0 5px;
}
.mar-t-10{
    margin-top: 10px;
}
.span-type-pricing{
    color: #000;
    font-size: 16px;
}
.span-value-pricing{
    color : #fdaa12;
    font-size: 17px;
    font-weight: bold;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option
{
    text-align: right !important;
}
.bootstrap-select.btn-group .dropdown-toggle .caret{
    right: unset !important;
    left: 12px !important;
}
.mrg-b-15{
    margin-bottom: 15px;
}
.home-slider-text{
    color: #111;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}
.pulse{
    width:25%;
    height:25%
}
.property-seeker-country{
    cursor: auto;
    position: absolute;
    width: 100%;
    right: 0px;
    color: #FFF;
    top: 20px;
    text-align: right;
}
.property-seeker-country .b-2{
    font-size: 20px;
    padding: 5px 10px;
}
.start-price-main{
    padding-left: 10px;
}
.panel-title{
    font-size: 16px;
}
.glyphicon{
    font-weight: 400 !important;
}
.panel-title.slide i {
    padding-left: 20px;
    color : #38b54a;
}
.s-property-title.slide i{
    padding-left: 20px;
    padding-right: 5px;
    color : #38b54a;
}

.swiper-container{
    float: right;
    width: 90%;
    padding: 0 45px !important;
}

@media (min-width: 992px){
    #myModalEnquiry .modal-dialog {
        margin: 10px auto !important;
        width: 80% !important;
    }
}
@media (min-width: 768px){
    #myModalEnquiry .modal-dialog {
        margin: 10px auto !important;
        width: 50% !important;
    }
}
.slick-track{
    left: auto !important;
    right: 0;
}
.min-form-control{
    height: 30px !important;
}
.lSSlideOuter .lSGallery li, .lSSlideOuter .lightSlider>*
{
    float: right !important;
}



@media screen and (max-width:480px) {
    .flight_map_tap3 .nav-tabs > li > a
    {
        padding: 3px;
    }
    .page-head-content .page-title span{
        background-color: transparent;
    }
    .page-head-content h1.page-title {
        background-color: #00000000;
    }
}
@media screen and (max-width:768px) {

    .swiper-container{
        width: 100%;
    }
    #slick-country-div{
        Width: 75%;
    }
    #slick-country{
        margin-right: 9%;
    }
    .slick-next{
        right : -20px !important;
    }
    .slick-prev {
        left: -20px !important;
    }
    #show-all-button{
        padding: 0 !important;
    }
    h5.day-number-all{
        font-size: 12px;
        margin-top : 25px;
    }
    .text-center-xs{
        text-align: center;
    }
    .margin-bottom-15-xs{
        margin-bottom: 15px;
    }
}
.slick-item{
    font-weight: bold;
    font-size: 13px;
    margin: 0 2px;
    height: 0px;
}
.button-active{
    background-color: #2489b3;
    color: #fff;
}
.basket-icon{
    position: absolute;
    padding: 0px 10px;
    z-index: 1;
    left:15px;
    top:250px;
}
.basket-icon i{
    font-size: 25px;
    color: #4dcd00;
}
.basket-icon.active i{
    color: #ffaa00;
}
.orders-button{
    position: fixed;
    bottom: 10px;
    width: 40px;
    height: 40px;
    background-color: #37b54a;
    right: 10px;
    border-radius: 50%;
    z-index: 200;
}
.orders-button a i{
    color: #fff;
    font-size: 20px;
    padding: 10px 8px;
    cursor: pointer;
}
.order-modal .modal-header .close {
    margin-top: -2px !important;
}
.span-date{
    color:red;
}
#fb-share-button {
    background: #3b5998;
    border-radius: 3px;
    font-weight: 600;
    padding: 5px 8px;
    display: inline-block;
    position: static;
}

#fb-share-button:hover {
    cursor: pointer;
    background: #213A6F
}

#fb-share-button svg {
    width: 18px;
    fill: white;
    vertical-align: middle;
    border-radius: 2px
}

#fb-share-button span {
    vertical-align: middle;
    color: white;
    font-size: 14px;
    padding: 0 3px
}


.order-area{
    margin-top: 15px;
    padding: 10px;
    border-radius: 3px;
    border: solid 1px #f1f1f1;
    overflow: hidden;
}
.order-area .order-package-name{
    width: 60%;
    float: right;
}
.order-area .order-package-date{
    width: 30%;
    float: right;
}
.order-area .order-package-manage{
    width: 10%;
    float: right;
}
.order-area .order-package-manage a{
    /*float: right;*/
}
.order-area .order-package-manage a i{
    cursor: pointer;
    color: #FFC600;
    font-size: 16px;
}
.btn-share {
    background: #3b5998;
    border-radius: 3px;
    font-weight: 600;
    padding: 7px 13px;
    display: inline-block;
    position: static;
}

.btn-share:hover {
    cursor: pointer;
    background: #213A6F
}
.btn-share i {
    color: #fff;
}
#fb-share-pacakge-button{
    width: 25px;
    height: 25px;
}
.account-tab{
    width:25%;
}
.order-area .enquiry-package-name{
    float: right;
    width: 50%;
}
.order-area .enquiry-package-date{
    float: right;
    width: 20%;
}
.order-area .enquiry-package-room{
    float: right;
    width: 20%;
}

.order-area .enquiry-package-manage{
    float: right;
    width: 10%;
}
.order-area .tab-custom-title{
    font-size: 17px;
    color: #237b31;
}
.order-area .enquiry-package-name.custom{
    color: #b10707;
}
.swiper-button-next, .swiper-button-prev {
    top: 0%;
    width: 40px;
    height: 44px;
    margin-top: 0;
    background-color: #fff;
    height: 100%;
}
.swiper-container .swiper-button-prev {
    right: 0 !important;
}
.swiper-container .swiper-button-next {
    left: 0 !important;
}
.swiper-item {
    font-weight: bold;
    font-size: 13px;
    /*margin: 0 2px;*/
    width:100%;
}
.hotel-button{
    padding:0 5px;
}
.hotel-button .hotel-button-details{
    background-color: rgb(36, 137, 179);
    color: #fff;
    border-radius: 5px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.hotel-button .hotel-button-details:hover{
    background-color: #38b54a;
}
.hotel-button .hotel-stars span i{
    font-size: 10px;
    color: #fed203;
}
.hotel-button .hotel-price span.price{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.hotel-button .hotel-price span.price-currency{
    color: #fff;

}
#back-to-top-button{
    display: none;
    position: fixed;
    bottom: 10px;
    width: 40px;
    height: 40px;
    background-color: #37b54a;
    right: 10px;
    border-radius: 50%;
    z-index: 200;
}
#back-to-top-button a i{
    color: #fff;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;

}
.margin-title{
    margin-right: 15px;
}
.padding-l-5{
    padding:0 0 0 5px;
}
#menu-search-bar{
    z-index: 100000000;
    background-color: #fff;
    border: 1px solid #eee;

}

#menu-search-bar .handle{
    width: 40px;
    height: 40px;
    background-color: #37b54a;
    color: #fff;
    position: absolute;
    left: 299px;
    top: 40%;
    padding: 5px 13px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    -moz-transition: 200ms ease all;
    -webkit-transition: 200ms ease all;
}
#hot-line-bar{
    position: fixed;
    background-color: green;
    color: #fff;
    padding:0 10px 10px;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    right: -127px;
    z-index: 10000;
    width: 127px;
    height: 54px;
}
#hot-line-bar .hot-line-button{
    position: absolute;
    right: 125px;
    background-color: green;
    padding: 10px;
    cursor: pointer;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
#hot-line-bar.show-bar{
    right: 0;
}

ul.messages {
    position: relative;
    list-style: none;
    padding: 10px 0 0;
    margin: 0;
    /*height: calc(60vh - 110px);*/
}
.messages .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 10px;
    transition: all 0.5s linear;

}
.messages .message .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 15px;
}
.messages .message.right-ar .avatar {
    background-color: #f5886e;
    float: left;
    line-height: 10px;
}
.messages .message.right-ar .text_wrapper {
    background-color: #e7eaec;
    margin-right: 20px;
}
.messages .message.right-ar .text_wrapper {
    color: #09466f;
}
.messages .message.left-ar .avatar {
    background-color: #f5886e;
    float: right;
    line-height: 10px;
}
.messages .message.left-ar .text_wrapper {
    background-color: #e7eaec;
    margin-left: 20px;
}
.messages .message.left-ar .text_wrapper {
    color: #09466f;
}

.messages .message .text_wrapper {
    display: inline-block;
    padding: 10px;
    border-radius: 6px;
    width: calc(100% - 80px);
    min-width: 100px;
    position: relative;

}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
    top: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.messages .message.right-ar .text_wrapper::before {
    border-width: 15px;
    margin-top: -8px;
}
.messages .message.left-ar .text_wrapper::after {
    border-width: 15px;
    margin-top: -2px;
}
.message.right-ar .text_wrapper::after, .messages .message.right-ar .text_wrapper::before {
    right: 100%;
    border-right-color: #e7eaec;
}
.message.left-ar .text_wrapper::after, .messages .message.left-ar .text_wrapper::before {
    left: 100%;
    border-left-color: #e7eaec;
}
.messages .message.right-ar .text_wrapper::after {
    border-width: 13px;
    margin-top: -8px;
}
.messages .message.left-ar .text_wrapper::before {
    border-width: 13px;
    margin-top: 0px;
}
.messages .message.hallo-message{
    padding: 0 10px;
}

#image_preview {
    position: absolute;
    bottom: 70px;
    height: 140px;
    width: 100%;
    text-align: left;
}
#image_preview:before {
    top: 143px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #e7eaec;
    border-width: 13px;
    margin-top: 0px;
    left:15px
}

#image_preview img{
    height: 100%;
    max-width: 100%;
    border-radius: 3px;
    border: solid 2px #e7eaec;

}
.modal-body .s-property-title{
    margin-top: 10px;
}
.dayArrowTour{
    position: absolute;
    left: 50px;
    top: 8px;
    padding: 2px 10px 0;
    background-color: #f39d43;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed !important;
    margin: auto !important;
    height: 100% !important;
    -webkit-transform: translate3d(0%, 0, 0) !important;
    -ms-transform: translate3d(0%, 0, 0) !important;
    -o-transform: translate3d(0%, 0, 0) !important;
    transform: translate3d(0%, 0, 0) !important;
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 10px;
}

/*Left*/
.modal.left.fade .modal-dialog{
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    right: 0;
}

.modal.tour-list .modal-dialog .modal-content{
    border-radius: 0 !important;
    text-align: right;
}

.modal.tour-list .modal-dialog .modal-content .col-tour{
    margin: 10px 0 0;
    padding: 10px 25px;
    background-color: #f3f3f3;
}
.modal.tour-list .modal-dialog .modal-content .col-tour .tour-image
{
    width: 150px;
    float: right;
    margin-left: 10px;
}
.modal.tour-list .modal-dialog .modal-content .col-tour .tour-details{
    width: 100%;
}
.modal.tour-list .modal-dialog .modal-content .col-tour .tour-details .inner-details{
    text-align: left;
}
.modal.tour-list .modal-dialog .modal-content
.col-tour .tour-details .inner-details span.tour-price{
    padding: 5px 10px;
    color: #5cb85c;
}
.modal.tour-list .modal-dialog .modal-content
.col-tour .tour-details .inner-details span.tour-add-button a{
    background-color: #000;
    border-radius: 3px;
    padding: 8px 10px 5px;
    cursor: pointer;
}
.modal.tour-list .modal-dialog .modal-content
.col-tour .tour-details .inner-details span.tour-add-button a:hover{
    color: #fff;
}
.tour-button-container{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.direction .flag{
    width: 70px;
    padding: 8px 0 !important;
    height: 50px;
}
.direction .flag::before {

    position: absolute;
    top: 57%;
    left: -23px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 2px solid #E5E6E7;
    z-index: 10;

}
.direction .flag::after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-top-width: medium;
    border-left-width: medium;
    border-bottom-width: medium;
    border-right-color: transparent;
    border-right-width: medium;
    border-right-color: #004c6c;
    border-width: 8px;
    pointer-events: none;
}
.section .day-timeline .day-slide:before
{
    position: absolute;
    right: 101px;
    top: 0;
    content: ' ';
    display: block;
    width: 2px;
    height: 100%;
    background: rgb(229, 230, 231);
    z-index: 5;
}
.direction .dayArrow2{
    padding-right: 25px !important;
}
.day-slide .slide-day-body{
    padding-right: 100px;
}
.day-timeline .day-slide{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #e5e6e7;
}
.checkbox-hotel{
    padding:0 5px;
    background: #FFF none repeat scroll 0% 0%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.1);
}
.checkbox-hotel .iradio_square-yellow{
    background-position: 55% 0;
}
.checkbox-hotel .iradio_square-yellow.iradio_square-yellow.hover {
    background-position: -144px 0 ;

}
.checkbox-hotel .iradio_square-yellow.checked {
    background-position: -168px 0 !important;
}
.padding-custom{
    padding: 0 0 0 20px;
}
.slide-day-container{
    display: grid;
}
.slide-day-container .dayArrow{
    grid-column-start: 1;
    grid-column-end: 2;
}
.slide-day-container .dayArrow2{
    grid-column-start: 3;
    grid-column-end: 100;
    padding-top: 12px;
}

.slide-day-container .slide-day{
    color: #f7a606;
    grid-column-start: 101;
    grid-column-end: 102;
}
.disabled-href{
    pointer-events: none;
    cursor: default;
}
/*style of minus plus buttons in add tour */
.input-group{
    display: inline-flex;
    padding: 5px 10px 5px 0px;
    background-color: #fff;
    width:100%;
}

.plus-minus-input {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.favorite-modal .modal-header .close {
    margin-top: -2px !important;
}

.favorite-area .favorite-package-name{
    width: 90%;
    float: right;
}

.favorite-area .favorite-package-manage{
    width: 10%;
    float: left;
}
.favorite-area .favorite-package-manage a{
    float: left;
}

.span-welcome{
    color: #005d84;
    font-weight: bold;
}
.focus-error:focus {
    border-color: #e11010 !important;
}

#slick-visa-type ,#slick-visa-country,#slick-top-activity, #slick-partners{
    direction: ltr;
    margin: 20px 0;
}


.file-name{
    margin-right: 30px;
}
.custom-table ul{
    padding: 0 40px 0 0 !important;

}
.datepicker-dropdown{
    right: auto !important;
    float: right !important;
}
.activity-box-search .form-control{
    text-align: right;
}
#myModalActivity .modal-content .modal-activity-head .close{
    left: 10px;
}
.activity-category-box-row .fa-shopping-basket{
    right: -12px;
}

.activity-category-box-row .fa-trash-o{
    left: 5px;
}
.btn-add-card{
    padding: 2px 15px 2px 2px;
}
.activity-cart-view-box .activity-cart-price-bar{
    text-align: left;
}
.activity-cart-view-box .activity-cart-price-bar span{
    font-size: 18px;
}
.activity-cart-view-box .delete{
    left: 25px;
}
.activity-checkout-view-box p{
    text-align: left;
}
#lead-info h4,#all-info h4, #all-info p{
    padding-right: 15px;
}
.slick-activity-box .slick-activity-title{
    direction: rtl;
}
.dropdown-menu.notify-drop{
    top: 70px;
    left: 40px;
}
.search-uae-container .label-div{
    text-align: left;
    padding-top: 10px;
}

.search-uae-container:before
{
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 60px solid #005d84;
    border-right: 40px solid #fff;
}
.text-ar-right{
    text-align: right !important;
}
.text-ar-left{
    text-align: left !important;
}
.service-text-container, .reason-text{
    padding-right: 10px;;
}
.reason-container{
    border-left: solid 1px #bdbcbc;
}
.p-0{
    padding: 0 !important;
}
.whats-app-icon ,.messenger-icon {
    left: 20px;
}
.float-left-ar{
    float: left !important;
}

.activity-category-box-mobile-row .btn-add-card
{
    margin-right: 15px;
}
.mu-price-tag {
    right: 15px;
}
.mu-featured-tours-single-info .mu-book-now-btn {
    float: left;
}
.mu-clients-slider, .mu-service-slider, .mu-featured-tours-slider{
    direction: ltr;
}
.mu-about-right {
    float: right;
    margin-right: -175px;
}

@media (max-width: 1199px) {

    .mu-about-right {
        margin-right: -190px;
    }

}

@media (max-width: 991px) {

    .mu-about-right {
        margin-right: -190px;
    }
}

@media (max-width: 767px) {

    .mu-about-right {
        margin-right: 0;
    }
}
#activity-card .badge {
    left: -16px;
    top: -5px;
    color: #fff;
    background-color: #da1d16;
    position: absolute;

    padding-right: 0 !important;
    padding-left: 0 !important;
    border-radius: 50% !important;
    width: 18px;
    height: 18px;
    line-height: 10px;
    text-align: center;
    display: block;
    font-style: normal;
}
